@model Actividad2RolesDeUsuario.Models.Docente
@{
    Layout = "_Layout";
    int x = 1;

}
<h2>Alumnos del docente: @Model.Nombre</h2>

<table>
    <colgroup>
        <col style="width:50px" />
        <col style="width:100px" />
        <col />
        <col />
    </colgroup>
    <caption>
        <a href="~/Home/AgregarAlumno/@Model.Id">Agregar Alumno al grupo</a>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>NumControl</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alumno in Model.Alumno)
        {
            <tr>
                <td>@(x++)</td>
                <td>@alumno.NumControl</td>
                <td>@alumno.Nombre</td>
                <td class="center">
                    <a href="~/Home/EditarAlumno/@alumno.Id"> Editar</a>
                    <a href="#" onclick="Eliminar(@alumno.Id)">Eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<form method="post" action="~/Home/EliminarAlumno">
    <input type="number" hidden name="Id" id="alumnoId" />
</form>

<script>

    function Eliminar(id) {
        if (confirm('Estas seguro que deseas eliminar al alumno seleccionado?')) {
            document.getElementById("alumnoId").value = id;
            document.querySelector("form").submit();
        }
    }
</script>


